div {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    border: 2px solid #000; /* solid deixa a borda reta */
}

.border{
    border: 1px dotted #26ff00; /* dotted deixa a borda pontilhada */
}
.bola{
    border-radius: 50%;
    background-color: maroon;
}
.sombra{
    box-shadow: 10px 10px 50px #000; 
}
/*box-shadow - (distancia do bloco original "horizontal")(distancia do bloco original "vertcal")(quantidade de blur) (#000 - cor) */
/* "Box-Shadow generator" site para a criação de box-shadows mais facil do que manualmente */